<div class="container">
  <form class="container" method="post">
    <input type="text" name="key" value="{key}" readonly />
    <input type="text" name="url" value="{url}" />
    <input type="hidden" name="type" value="Upsert" />
    <button type="submit" name="update" value="Update">Update</button>
  </form>

  <form class="container" method="post">
    <input type="hidden" name="key" value="{key}" readonly />
    <input type="hidden" name="type" value="Delete" readonly />
    <button type="submit" name="delete" value="Delete">Delete</button>
  </form>
</div>
